.postCard {
  width: 600px;
  height: fit-content;

  max-width: 600px;
  background-color: var(--color-gray-800);

  padding: 15px;

  border-radius: 5px;
  
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__playingGame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    color: var(--color-gray-200);

    &--dark {
      color: var(--color-gray-400);
      font-size: 12px;
    }
  }

  &__content {
  }
  &__footer {
  }
}
