.sidebarItem {
  width: 100%;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;

  &__link {
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    color: var(--color-gray-200);
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding: 14px 10px;

    &:hover {
      background-color: var(--color-gray-200);
      color: var(--color-gray-900);
    }
    &:active {
      background-color: var(--color-primary-500);
      color: var(--color-gray-200);
    }
    
    &.disabled-link {
      &:hover {
        background-color: var(--color-gray-400);
        color: var(--color-gray-900);
      }
    }
  }
  &__linkText {
    margin-left: 10px;
  }
}

.disabled-link {
  color: var(--color-gray-400);
  cursor: not-allowed;
  text-decoration: line-through;
  pointer-events: none;
  
  &:hover {
  }
}
