.feed {
    padding: 16px;
    border-radius: 35px;
    background-color: var(--color-gray-700);
  
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  