.container {
    display: grid;
    grid-template-columns: 5fr 3fr;
    grid-template-rows: max-content 1fr;
    row-gap: 2rem;
    @media screen and (max-width: 1280px) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }
}

.profile{
    &__user{
        grid-column-start: 1;
        grid-column-end: 2;
        
    }

    &__info {
        grid-column-start: 2;
        grid-column-end: 3;
        justify-self: end;
        @media screen and (max-width: 1280px) {
            display: none;
        }
    }
    &__feed{
        grid-row-start: 2;
        grid-row-end: 3;
        @media screen and (max-width: 1280px) {
            display: none;
        }
        
    }
    &__games{
        grid-row-start: 2;
        grid-row-end: 3;
        justify-self: end;
        @media screen and (max-width: 1280px) {
            display: none;
        }
    }
    &__visible{
        display: block;
    }
}