.layout {
  display: grid;
  grid-template-columns: max-content minmax(auto, 70%) max-content;
  @media screen and (max-width: 768px){
    display: block;
    width: 92%;
    margin: 0 auto;
  }

  &__main {
    background-color: var(--color-gray-700);
    padding: 3rem 3rem;
    border-radius: 3.5rem 3.5rem 0 0;
    
  }

}
