.user {
  display: flex;
  gap: 1.2rem;
  align-items: center;

  &__photo {
    border-radius: 50%;
    overflow: hidden;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__name {
      font-size: 2.8rem;
      color: var(--color-gray-200);
      font-weight: 600;
      @media screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    &__discordId {
      font-size: 1.6rem;
      color: var(--color-gray-400);
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  &__filter {
    display: none;
    &Feed,
    &Games,
    &Info {
      background-color: transparent;
      border: 1px solid var(--color-primary-500);
      padding: 1rem 2rem;
      border-radius: 8px;
      cursor: pointer;
    }
    @media screen and (max-width: 1280px) {
      display: flex;
      align-self: center;
      gap: 1rem;
      background-color: var(--color-gray-900);
      padding: 1.2rem;
    }
    @media screen and (max-width: 576px) {
      align-self: auto;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
    @media screen and (max-width: 576px) {
      align-items: center;
    }
  }
}

.active {
  background-color: var(--color-primary-500);
}
