.button {
  background-color: var(--color-primary-500);
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-gray-200);
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray-200);
    color: var(--color-primary-500);
  }

  &--createPost {
    align-self: flex-end;
  }
}
