.sidebar {
  width: 240px;
  height: calc(100vh - 92px);
  background-color: var(--color-gray-900);
  padding: 10px 15px 0;

  &__list {
    width: 100%;
    height: 100%;
    list-style: none;
  }
}
