.userInfo{
    
    background-color: var(--color-gray-900);
    border-radius: 5px;
    padding: 1.6rem 1.4rem;
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    &__title{
        color: var(--color-gray-200);
        font-size: 1.8rem;
        font-weight: 500;
        padding-bottom: .6rem;
        border-bottom: 1px solid var(--color-gray-400);
    }

    &__details{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}