.createPost {
  background-color: var(--color-gray-900);
  padding: 1.6rem;
  border-radius: 0.5rem;
  width: 100%;
  max-width: 60rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
