@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  /* FONTS */
  --font-primary: 'Inter', sans-serif;

  /* COLORS */
  --color-primary-500: #3d9a50;
  --color-primary-400: #5bd793;

  --color-secondary-500: #5603ad;
  --color-secondary-400: #8367c7;

  --color-error-500: #cd2b31;
  --color-error-400: #e5484d;

  --color-warning-500: #ffdf00;
  --color-warning-400: #ffe747;

  --color-gray-900: #121214;
  --color-gray-700: #202024;
  --color-gray-500: #74767d;
  --color-gray-400: #7f8189;
  --color-gray-200: #f0fff1;

  /* BREAKPOINTS */

  --xs-breakpoint: 0;
  --sm-breakpoint: 576px;
  --md-breakpoint: 768px;
  --lg-breakpoint: 992px;
  --xl-breakpoint: 1280px;
  --xxl-breakpoint: 1440px;

  /* GRID */
  --column-count: 12;
  --gutter-size: 1.6rem;
}

[data-theme='light'] {
  --color-primary-500: #3d9a50;
  --color-primary-400: ##5bd793;
}
